@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans:300,400);

body {
    font-family: 'Alegreya Sans', sans-serif;
    position: relative;
    color: #ffffff;
    background-color: rgba(31, 31, 31, 1);
}

.list-inline {
    margin: 0;
}

.separator {
    width: 90%;
    margin: 30px auto;
    text-align: center;
    border-bottom: solid 1px rgba(0, 168, 176, 1);
}

article {
    position: relative;
}

.separator ul li {
    display: inline;
}

.img-responsive {
    max-height: 175px;
    margin-top: 10px;
    cursor: pointer;
}

section.col-xs-10 {
    position: static;
}

section h3 {
    /* position: absolute; */
    top: -18px;
    left: 14px;
    font-size: 30pt;
    color: rgba(31, 31, 31, 1);
    margin-bottom: -65px;
    position: relative;
    /* z-index: 10001; */
}

.content-window {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    max-height: 100%;
    width: 100%;
    display: none;
    padding: 1.5em;
    background-color: rgba(25, 25, 25, 0.9);
    z-index: 10000;
    overflow-y: hidden;
}

.col-xs-5 {
    margin-top: -30px;
}

span {
    float: right;
}

span:hover {
    cursor: pointer;
}

.first-letter:first-letter {
    color: rgba(0, 168, 176, 1);
}

.dl-horizontal dd {
    margin-left: 0;
}